<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contacts List
    </h1>
    <div id="contact-container">
        <% for(i of contact_list) { %>
            <div id ="combine">
                <div class="contact-info">
                    <div><%= i.name %></div>
                    <div><%= i.phone %></div> 
                </div>
                <div class="delete-contact-option">
                    <a href="/delete-contact/?id=<%= i.id %>">
                        <i class="fas fa-window-close"></i>
                    </a>
                </div>
            </div>
            <% } %>
            <form action="/create-contact" method="POST" >
                <div id="contactlist-form">    
                    <div><input type="text" name="name" placeholder="Enter name" required></div>
                    <div><input type="number" name="phone" placeholder="Enter Phone" required></div>
                    <div><button type="submit"> Add </button></div>  
                </div> 
            </form>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
    </html>